/* selector { propiedad:valor } */

/* Comentarios */

/* p.uno { color : red }

p.dos {
    color : purple ;
    font-size: 50;
} */


.uno { color : red }

.dos {
    color : purple ;
    font-size: 50;
}






















